body {
    font-family: 'Microsoft YaHei', sans-serif;
    background-color: #0D1529;
    color: #fff;
    margin: 0;
    padding: 20px;
}

.container {
    width: 100%;
    overflow-x: auto; /* 允许水平滚动 */
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header .left, .header .right {
    display: flex;
    align-items: center;
}

.header .left .box, .header .right .box {
    background-color: #213559;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
}

.header .left .box.blue, .header .right .box.blue {
  background-color: #007bff;
}

.header .right .box {
  cursor: pointer;
}

.flow-chart {
    /* 设置宽高，根据实际情况调整 */
    width: 3000px;
    height: 800px;
}

.node {
    fill: #213559;
    stroke: none;
}

.node.start-end {
    fill: #0D1529;
    stroke: #8464A4;
    stroke-width: 2;
}

.node-text {
    fill: #fff;
    font-size: 14px;
    text-anchor: middle;
    dominant-baseline: middle;
    user-select: none;
}

.node-text-tps {
  font-size: 12px;
  fill: #81CEF6;
}

.node-text-rt {
  font-size: 12px;
  fill: #F9F871;
}

.node-text-success {
  font-size: 12px;
  fill: #65D885;
}

.arrow {
    stroke: #fff;
    stroke-width: 2;
    marker-end: url(#arrowhead);
}

.stage-box {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-around;
}

.stage-box .stage {
  background-color: #4A235A;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}